<div class = "col-md-6">
  <% if user_signed_in? %>
    <h2>Post a Comment</h2>
      <%= form_for [ @article, @comment ] do |f| %>
        <div class="form-group">
          <%= f.label :body %><br/>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Submit', class: "form-control" %>
        </div>
    <% end %>
  <% else %>
    <hr>
    You must <%= link_to 'login', new_user_session_path %>
    before posting comments
  <% end %>
</div>